<div class="container">
  <div class="ui-g">

    <form (ngSubmit)="listar()">
      <div class="ui-g-12">
        <h1>Pessoas</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="nome" [(ngModel)]="filtro.nome" (keyup)=keyupNome()>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="pessoas" [responsive]="true" #tabela
        [paginator]="true" [rows]="filtro.itensPorPagina"
        [lazy]="true" [totalRecords]="totalRegistros"
        (onLazyLoad)="nextPage($event)">
        <ng-template pTemplate="emptymessage">
          Nenhuma pessoa encontrada
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>Cidade</th>
                <th class="col-estado">Estado</th>
                <th class="col-status">Status</th>
                <th class="col-acoes"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa>
            <tr>
                <td>{{pessoa.nome}}</td>
                <td>{{pessoa.endereco.cidade}}</td>
                <td class="col-estado">{{pessoa.endereco.estado}}</td>
                <td class="col-status">
                  <a href="" style="color: black;" [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar'"
                   tooltipPosition="top" (click)="alterarStatus(pessoa)" href="javascript:;">
                    {{getAtivoStr(pessoa.ativo)}}
                  </a>
                </td>
                <td class="col-acoes">
                  <a pButton icon="pi pi-pencil" style="margin-right: 1px;" pTooltip="Editar"
                   tooltipPosition="top" [routerLink]="['salvar', pessoa.id]"></a>
                  <button pButton icon="pi pi-trash" style="margin-left: 1px;" pTooltip="Excluir"
                   tooltipPosition="top" (click)="confirmarExclusao(pessoa.id)"></button>
              </td>
            </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="ui-g-12">
    <a pButton label="Nova pessoa" routerLink="salvar"></a>
  </div>

</div>
