<div class="container">
  <form #formulario="ngForm" (ngSubmit)="login(email.value, senha.value)" class="container-login">
    <div class="ui-md-5 ui-sm-12" style="margin-top: 50px;">
      <p-progressBar *ngIf="loading" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
      <p-card header="Login" [style]="{'width': '100%', 'height': '100%'}">
        <div class="ui-g">
          <div class="ui-g-12 ui-fluid">
            <label>Email</label>
            <input pInputText type="email" name="email" placeholder="Email" [disabled]="loading"
              ngModel #email="ngModel" email="true" required>
            <app-error-messages
              [control]="email" isGenderFemale="false" errorMinlenght="false" errorEmail="true" label="Email">
            </app-error-messages>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-12 ui-fluid">
            <label>Senha</label>
            <input pInputText type="password" name="senha" placeholder="Senha" [disabled]="loading"
              ngModel #senha="ngModel" required minlength="3">
            <app-error-messages
              [control]="senha" label="Senha">
            </app-error-messages>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-12 ui-fluid">
            <button [disabled]="!formulario.valid || loading"
              [style.cursor]="!formulario.valid ? 'inherit' : 'pointer'"
              pButton type="submit" label="Login"></button>
          </div>
        </div>
      </p-card>
    </div>
  </form>
</div>
